<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo animal</title>
</head>
<body>
    <a href="{{ url_for('menu.index') }}">Voltar</a>
    <br><br>
    <form method="post">
        <label for="raca-name">Nome da raça</label>
        <input id="raca-name" name="name" type="text">
        <input type="submit" value="Adicionar Raça">
    </form>
    <br><br>
    <div class="flash-messages">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    </div>
</body>
</html>