<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo animal</title>
</head>
<body>
    <a href="{{ url_for('menu.index') }}">Inicio</a>
    <br><br>
    <button onclick="history.back()">Voltar</button>
    <br><br>
    <form method="post">
        <label for="animal-rgd">RGD do animal</label>
        <input value="{{ animal['rgd'] }}" id="animal-rgd" name="rgd" type="text">
        <br>
        <label for="animal-raca">Raça do animal</label>
        <select name="raca" id="animal-raca" size="1">
            <option value="">Não selecionado</option>
            {% for raca in racas %}
            <option value="{{ raca['id'] }}">{{ raca['name'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="animal-nome">Nome do animal</label>
        <input value="{{ animal['nome'] }}" id="animal-nome" name="nome" type="text">
        <br>
        <label for="animal-sexo">Sexo do animal</label>
        <select name="sexo" id="animal-sexo" size="1">
            <option value="">Não selecionado</option>
            <option value="MASCULINO">MASCULINO</option>
            <option value="FEMININO">FEMININO</option>
        </select>
        <br>
        <label for="animal-categoria">Categoria do animal</label>
        <select name="categoria" id="animal-categoria" size="1">
            <option value="">Não selecionado</option>
            <option value="PO">PO</option>
            <option value="PA">PA</option>
        </select>
        <br>
        <label for="animal-nascimento">Nascimento do animal</label>
        <input value="{{ animal['nascimento'] }}" id="animal-nascimento" name="nascimento" type="text">
        <br>
        <label for="animal-localidade">Localidade do animal</label>
        <select name="local" id="animal-localidade" size="1">
            <option value="">Não selecionado</option>
            {% for local in localidades %}
            <option value="{{ local['id'] }}">ID: {{ local['id'] }} | {{ local['nome_fazenda'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="animal-pai">Pai do animal</label>
        <select name="pai" id="animal-pai" size="1">
            <option value="">Não selecionado</option>
            {% for macho in machos %}
            <option value="{{ macho['id'] }}">{{ macho['name'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="animal-mae">Mãe do animal</label>
        <select name="mae" id="animal-mae" size="1">
            <option value="">Não selecionado</option>
            {% for femea in femeas %}
            <option value="{{ femea['id'] }}">{{ femea['name'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="animal-propietario">propietario do animal</label>
        <input value="{{ animal['propietario'] }}" id="animal-propietario" name="propietario" type="text">
        <br><br>
        <input type="submit" value="Adicionar Animal">
    </form>
    <br><br>
    <div class="flash-messages">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    </div>
    <script>
        const racaSelect = document.getElementById("animal-raca");
        const sexoSelect = document.getElementById("animal-sexo");
        const localSelect = document.getElementById("animal-localidade");
        const paiSelect = document.getElementById("animal-pai");
        const maeSelect = document.getElementById("animal-mae");
        const categoriaSelect = document.getElementById("animal-categoria");
        racaSelect.value = "{{ animal['raca_id'] }}";
        sexoSelect.value = "{{ animal['sexo'] }}";
        localSelect.value = "{{ animal['localidade_id'] }}";
        paiSelect.value = "{{ animal['pai_id'] }}";
        maeSelect.value = "{{ animal['mae_id'] }}";
        categoriaSelect.value = "{{ animal['categoria'] }}";
    </script>
</body>
</html>