<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver local</title>
</head>
<body>
    <a href="{{ url_for('menu.index') }}">Inicio</a>
    <br><br>
    <button onclick="history.back()">Voltar</button>
    <br><br><br><br>
    <h2>ID: {{ local['id'] }}</h2>
    <h4>Nome da fazenda: {{ local['nome_fazenda'] }}</h4>
    <h4>Estado: {{ local['estado'] }}</h4>
    <h4>Cidade: {{ local['cidade'] }}</h4>
    <br><br>
    <a href="{{ url_for('local.edit', id = local['id']) }}">Editar local</a>
</body>
</html>