<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver localidades</title>
</head>
<body>
    <a href="{{ url_for('menu.index') }}">Voltar</a>
    <br><br>
    {% for local in localidades %}
    <div>
        <h4>ID: {{ local['id'] }}</h4>
        <h4>Fazenda: {{ local['nome_fazenda'] }}</h4>
        <h4>Estado: {{ local['estado'] }}</h4>
        <h4>Cidade: {{ local['cidade'] }}</h4>
        <h4>Propietario: {{ local['propietario'] }}</h4>
        <a href="{{ url_for('local.edit', id = local['id']) }}">Editar</a>
    </div>
    <br>
    {% endfor %}
</body>
</html>