<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver todos as coletas</title>
</head>
<body>
    <a href="{{ url_for('menu.index') }}">Inicio</a>
    <br><br>
    <button onclick="history.back()">Voltar</button>
    <br><br><br><br>
    {% for coleta in coletas %}
    <div>
        <h4>ID: {{ coleta['id'] }}</h4>
        <h4>Nome do animal: {{ coleta['animalNome'] }}</h4>
        <h4>Data: {{ coleta['data'] }}</h4>
        <h4>Tipo de coleta: {{ coleta['tipoNome'] }}</h4>
        <a href="{{ url_for('coleta.view', id = coleta['id']) }}">Ver detalhes</a>
    </div>
    <br><br>
    {% endfor %}
</body>
</html>