<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova coleta</title>
</head>
<body>
    <a href="{{ url_for('menu.index') }}">Inicio</a>
    <br><br>
    <form method="post">
        <label for="coleta-animal">Selecione o animal</label>
        <select name="animal" id="coleta-animal" size="1">
            <option value="">Não selecionado</option>
            {% for animal in animais %}
            <option value="{{ animal['id'] }}">ID: {{ animal['id'] }} | Nome: {{ animal['nome'] }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="coleta-data">Selecione a data</label>
        <input value="{{coleta['dataColeta']}}" name="data" type="date" id="coleta-data">
        <br>
        <label for="coleta-tipo">Selecione o tipo de coleta</label>
        <select name="tipo" id="coleta-tipo" size="1">
            <option value="">Não selecionado</option>
            <option value="1">Eletro ejaculador</option>
            <option value="2">Vagina artificial</option>
            <option value="3">Estimulação manual</option>
        </select>
        <br>
        <label for="coleta-sucesso">Coleta bem sucedida?</label>
        <select name="sucesso" id="coleta-sucesso" size="1">
            <option value="">Não selecionado</option>
            <option value="SIM">SIM</option>
            <option value="NÃO">NÃO</option>
        </select>
        <br>
        <label for="coleta-exposicao">Pênis exposto?</label>
        <select name="exposicao" id="coleta-exposicao" size="1">
            <option value="">Não selecionado</option>
            <option value="SIM">SIM</option>
            <option value="NÃO">NÃO</option>
        </select>
        <br>
        <label for="coleta-anotacao">Area de anotação</label>
        <textarea name="anotacao" id="coleta-anotacao">{{ coleta['anotacao'] }}</textarea>
        <br>
        <label for="coleta-quantidade">Quantidade (ml)</label>
        <input name="quantidade" id="coleta-quantidade" type="number" value="{{ coleta['quantidade'] }}">
        <br></br>
        <input type="submit" value="Continuar">
    </form>

    <br><br>
    <div class="flash-messages">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    </div>
    <script>
        const animalSelect = document.getElementById("coleta-animal");
        const tipoSelect = document.getElementById("coleta-tipo");
        const sucessoSelect = document.getElementById("coleta-sucesso");
        const exposicaoSelect = document.getElementById("coleta-exposicao");
        animalSelect.value = "{{ coleta['animal_id'] }}";
        tipoSelect.value = "{{ coleta['tipoColeta_id'] }}";
        sucessoSelect.value = "{{ coleta['sucesso'] }}";
        exposicaoSelect.value = "{{ coleta['exposicao'] }}";
    </script>
</body>
</html>