<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
    <br><br><br><br>
    <a href="{{ url_for('racas.add') }}">Adicionar uma raça</a>
    <br><br>
    <a href="{{ url_for('racas.all') }}">Ver todas as raças</a>
    <br><br><br><br>
    <a href="{{ url_for('local.add') }}">Adicionar um local</a>
    <br><br>
    <a href="{{ url_for('local.all') }}">Ver todas as localidades</a>
    <br><br><br><br>
    <a href="{{ url_for('animais.add') }}">Adicionar um animal</a>
    <br><br>
    <a href="{{ url_for('animais.all') }}">Ver todos os animais</a>
</body>
</html>